.standard_button {
    border: none;
    border-radius: 2px;
    color: #eeeeee;
    background-color: rgb(61,61,61);
    width: 100%;
    padding: 1rem;
}

.standard_button:hover {
    filter: opacity(0.8);
}

.input_text {
    color: #fefefe;
    background-color: rgb(61,61,61);
    width: calc(100% - 1rem);
    padding: 0.5rem;
    border: 1px solid #eee;
    border-radius: 2px;
    display: inline-block;
}

.container_json_form {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
}

.container_json_form > .form_element {
    margin-bottom: 5px;
}

.container_input_list {
    width: 100%;
}

.container_input_list > div {
    padding: 1rem;
    width: calc(100% - 2rem);
}

.container_input_list > *:not(:last-child, :first-child) {
    border-bottom: 1px solid grey;
}
