body {
    background: rgb(51, 51, 51);
    color: #fefefe;
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
}

h1 {
    margin: 5px;
}

a {
    text-decoration: none;
    color: #fefefe;
}

.container {
    padding: 15px;
    height: 80%;
}

#use_as_clock_btn {
    width: 100%;
    height: 100%;
    background-color: #12aa12;
    border: none;
    border-radius: 2px;
    color: #eeeeee;
    font-size: 2rem;
    font-family: 'Courier New', Courier, monospace;
}
